.PhotoItem {
    height: 200px;

    background-position: center;
    background-size: cover;

    flex-shrink: 1;
    flex-basis: 31%;

    border-radius: 10px;
    box-shadow: 12px 11px 19px -4px white;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

  
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fff;
    padding: 10px 10px 20px 10px;
    border-radius: 10px;
    position: relative;
    height: 90%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 10px;
    }
    
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    
    &::-webkit-scrollbar-thumb {
      background: rgb(85, 153, 232);
    }
    
    &::-webkit-scrollbar-thumb:hover {
      background: rgb(63, 116, 175);
    }

    .PhotoItem {
        height: 80vh;
        width: 80vw;

        &:hover {
            opacity: 1;
            cursor: default;
        }
    }

    .title {
      margin: 10px 0 ;
      font-size: 18px;
    }

    .comments {
      margin-bottom: 10px;
    }
  }
  
  .close {
    position: fixed;
    top: 5px;
    right: 15px;
    font-size: 48px;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    width: 55px;
    text-align: center;
    border-radius: 15px;
    color: red;
  }