.AddCommentForm {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
    .comment_input {

    }

    .comment_button {
        height: 40px;
        width: 100px;
        border-radius: 15px;
        border: none;
        color: white;
        background-color: rgb(85, 153, 232);
        cursor: pointer;
        margin-top: 20px;
    }   
}