.Authentication {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .auth_text {
        margin-bottom: 30px;
        font-weight: bold;
        background: #ccd3fc;
        padding: 10px 20px;
        border-radius: 12px;
    }

    .auth_field {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        align-items: center;
    }

    .auth_input {
        margin-left: 10px;
        height: 30px;
        width: 300px;
        border-radius: 12px;
        border: none;
        outline: none;
        padding: 10px;
    }
    
    .auth_button {
        height: 40px;
        width: 100px;
        border-radius: 15px;
        border: none;
        color: white;
        background-color: rgb(85, 153, 232);
        cursor: pointer;
        margin-top: 20px;
    }

    .error {
        color: red;
        margin-bottom: 15px;
    }

    .auth_success {
        font-size: 20px;
        font-weight: bold;
    }

    .auth_link {
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
        color: deeppink;
        text-decoration: none;
    }
}