.CommentItem {
    display: flex;
    margin-bottom: 10px;
    padding: 6px;
    border-radius: 10px;
    background-color: #f8c3d9;

    .username {
        font-weight: bold;
        margin-right: 15px;
    }

    .delete {
        position: absolute;
        right: 20px;
        background: white;
        border: none;
        width: 20px;
        border-radius: 5px;
        color: red;
        font-weight: bold;
        cursor: pointer;
    }

    .loader {
        height: 20px;
        width: 20px;

        &::after {
            width: 10px;
            height: 10px;
        }
    }
}